* {
    font-family: 'Trebuchet MS';
}

.italic {
    font-style: italic;
}

.tbox {
    height: 50;
    width: 150;
    padding: 10;
    margin: 20;
    border: 10 solid rgb(70, 41, 19);
    background-color: rgb(179,94,42);
}

.pbox {
    height: 120px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 10px solid rgb(70, 41, 19);
    background-color: rgb(179, 94, 42);
}

body {
    background-color: rgb(243, 195, 73);
}