* {
    text-align: center;
}

div.headerbox {
    background-color: rgb(29,11,58);
    height: 150px;
    width: 1440px;
    margin: auto;
    display: grid;
    flex-direction: column;
}

div.introbox {
    /* background: rgb(29,11,58);
    background: linear-gradient(180deg, rgba(29,11,58,1) 0%, rgba(106,30,77,1) 100%); */
    background-image: url(IntroBG.png);
    height: 675px;
    width: 1440px;
    margin: auto;
    display: flex;
}

div.gamesbox {
    /* background-color: rgb(156,15,62); */
    background-image: url(GameOpinionsBG.png);
    height: 575px;
    width: 1440px;
    margin: auto;
    display: grid;
    flex-direction: column;
}

div.favgamesbox {
    background: rgb(171,68,24);
    background: linear-gradient(180deg, rgba(171,68,24,1) 0%, rgba(161,17,19,1) 100%);
    height: 540px;
    width: 1440px;
    margin: auto;
    display: grid;
    flex-direction: column;
}

div.footerbox {
    background-color: rgb(29,11,58);
    height: 150px;
    width: 1440px;
    margin: auto;
    display: grid;
    flex-direction: column;
}