* {
    text-align: center;
}

div.headerbox {
    background-color: rgb(29,11,58);
    position: sticky;
    top: 0;
    height: 150px;
    width: 1440px;
    margin: auto;
    display: grid;
    flex-direction: column;
}

div.introtextbox {
    height: 375px;
    width: 640px;
    margin-left: 167px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.herotext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-style: italic;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
    height: 56px;
    width: 600px;
    color: white;
}

.introheader {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    line-height: 170%;
    height: 97px;
    width: 506px;
    margin: 20px 0px;
    color: white;
}

.introbody {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 110%;
    text-align: left;
    height: 135px;
    width: 500px;
    margin-left: 140px;
    margin-top: 0px;
    color: white;
}

div.introbox {
    /* background: rgb(29,11,58);
    background: linear-gradient(180deg, rgba(29,11,58,1) 0%, rgba(106,30,77,1) 100%); */
    background-image: url(IntroBG.png);
    height: 675px;
    width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

div.webcomicbox {
    background: rgb(161,17,19);
    background: linear-gradient(180deg, rgba(161,17,19,1) 0%, rgba(171,68,24,1) 100%);
    height: 145px;
    width: 635px;
    margin-left: 160px;
    display: grid;
    grid-auto-flow: column;
}

div.webcomicimg {
    margin: 15px;
}

div.webcomictextbox {
    height: 95px;
    width: 405px;
    margin: 15px 45px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.webcomicheader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
    height: 30px;
    width: 405px;
    color: white;
}

div.gameslice {
    background-image: url(GameOpinionsBG.png);
    height: 242px;
    width: 1440px;
    margin-top: 50px;
}

div.gamesbox {
    background-color: rgb(156,15,62);
    /* background-image: url(GameOpinionsBG.png); */
    height: 333px;
    width: 1440px;
    margin: auto;
    display: grid;
    flex-direction: column;
}

div.favgamesbox {
    background: rgb(171,68,24);
    background: linear-gradient(180deg, rgba(171,68,24,1) 0%, rgba(161,17,19,1) 100%);
    height: 540px;
    width: 1440px;
    margin: auto;
    display: grid;
    flex-direction: column;
}

div.footerbox {
    background-color: rgb(29,11,58);
    height: 150px;
    width: 1440px;
    margin: auto;
    display: grid;
    flex-direction: column;
}